#!/usr/bin/make -f
%:
	dh $@ --with tex

coffee.pdf: coffee.tex coffee.sty
	latexmk --pdf coffee.tex

override_dh_installchangelogs:
	dh_installchangelogs README.md

override_dh_installdocs: coffee.pdf
	dh_installdocs

override_dh_compress:
	dh_compress -X.pdf
